# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pdb
*.db
*.tlog
*.log
*.recipe
*.ipch
.vs/MagicVXImGui/v16/.suo
*.idb
*.db-wal
*.db-shm
*.ilk
*.ilk
*.opendb
